%h2.title-form Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field.my-2
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true, autocomplete: "name", class: "field field__item"
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "field field__item"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password", class: "field field__item"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password", class: "field field__item"
  .actions
    = f.submit "Sign up", class:"button-page button-page__signup"
= render "devise/shared/links"
