$apply-min-height: 400px;

.apply {
  @apply flex justify-center items-center w-full;
  @apply bg-center bg-no-repeat bg-cover;
  min-height: $apply-min-height;
  
  &__send {
    @apply font-bebas not-italic font-normal bg-white p-4;
    font-size: 35px;
  }
}
