@import "variables";

.compare {
  @apply px-8 py-8 bg-white;
  padding-bottom: $footer-height;
  
  &__box {
    @apply grid grid-cols-3;
    @apply font-bebas not-italic font-normal text-white text-center;
    font-size: 22px;
    line-height: 26px;
  }

  &__item {
    @apply py-4 px-6 border border-white bg-black flex items-center justify-center;
  }

  &__text--bold {
    font-size: 35px;
    line-height: 42px;
  }

	&__session {
		@apply pt-24 pb-4 flex items-center justify-center text-2xl text-gray-dark font-semibold;
	}
}
