@import "variables";

.go-top {
  @apply bg-black fixed w-full z-10 bottom-0 flex items-center justify-center; 
  max-width: 950px;
  height: $footer-height;

  &__button {
    @apply no-underline text-white flex items-center flex-col;
    @apply font-roboto not-italic font-normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }
  &__text {
    margin-top: 0.5rem;
  }
}
