.header {
  @apply flex items-center;
  height: 100px;

  &__logos {
    @apply w-full flex justify-around items-end;
  }

  &__logo__left {
    height: 25px;
  }

  &__logo__right {
    height: 15px;
  }
}
