/*@import "variables";*/

.sp-container {
  @apply w-full bg-white m-auto;
  max-width: 950px;
  height: 100vh;
}
/*overflow-y: scroll;
* padding-bottom: $footer-height;
*/

/*he añadido el padding en _compare*/