.testimonials {
  @apply relative;

  &__button {
    @apply bg-white border-0 rounded-full h-10 w-10 font-semibold;
    @apply absolute text-center top-3/4 focus:outline-none;
  }

  &__previous {
    left: 10px;
  }

  &__next {
    right: 10px;
  }

  &__image {
    @apply w-full object-cover;
    height: 300px;
  }

  &__quote {
    @apply flex flex-col py-8 px-24 items-center bg-black;
    @apply font-bebas not-italic font-normal text-center text-white;
    font-size: 30px;
    line-height: 36px;

    &__text {
      @apply w-full;
    }
  
    &__line {
      width: 86.4px;
      border-bottom: 1px solid #1df541;
      margin: 20px;
    }
  }
}
