.navbar
  .navbar__item
    = link_to home_path do
      = image_tag "vector.png", class: 'w-28'
  %ul.navbar__item
    - if user_signed_in?
      %li.button-navbar.button-navbar__logout
        = link_to 'Log Out', destroy_user_session_path(), method: :delete
    - else 
      %li.button-navbar.button-navbar__login
        = link_to 'Log In', new_user_session_path
      %li.button-navbar.button-navbar__signup
        = link_to 'Sign Up', new_user_registration_path 