-# .img_quote
-#   = image_tag "elonmusk.png", class: 'img_quote__image'
-# .quote
-#   %p.quote__text
-#     "Confío en aurora para conseguir el mejor talento"
-#   %span.quote__line
-#   %p.quote__text
-#     Elon Musk

- if @testimonials.any?
  .testimonials{ data: { controller: 'slideshow', 'slideshow-current-value': 0 } }
    %button{ class: 'testimonials__button testimonials__previous', data: { action: 'slideshow#previous', 'slideshow-target': 'previous' } }="<"
    %button{ class: 'testimonials__button testimonials__next', data: { action: 'slideshow#next', 'slideshow-target': 'next' } }=">"
    
    - @testimonials.each do |testimonial| 
      .testimonials__item.slideshow__item{ data: { 'slideshow-target': 'slide' } }
        - if testimonial.image.attached?
          = image_tag testimonial.image, class: 'testimonials__image'
        .testimonials__quote
          %p.testimonials__quote__text= testimonial.quote
          %span.testimonials__quote__line
          %p.testimonials__quote__text= testimonial.name