.sp-container
  .header
    .header__logos
      = image_tag "spacex_logo_png_1.png", class: 'header__logo__left'
      = image_tag "vector.png", class: 'header__logo__right'
  .banner
    = image_tag "img_space_x.png", class: 'banner__image'
  .slogan
    .slogan__title Space X busca a personas creativas para sus proyectos
    .slogan__subtitle Nosotros podemos ayudarte a ser uno de ellos.
  = render 'testimonials'
  .challenge
    %p.challenge__text
      ¿Cómo enviarías un burrito de patio by sony's al espacio, para que se cocinase durante
      el trayecto y luego volviese a la tierra listo para comer?
  .apply{ style: "background-image: url('#{ image_url('spacex_burrito.png') }');" }
    .apply__send ENVIAR PROPUESTA
  .compare
    .compare__box
      - @companies.each do |company|
        .compare__item
          %span.compare__text.compare__text--bold= company.name
        - company.perks.each do |perk|
          .compare__item
            %span.compare__text= perk.description
    .compare__session
      = link_to 'Cerrar Sesión', destroy_user_session_path(), method: :delete
  .go-top
    %a.go-top__button{:href => "#"}
      = image_tag "icon_cohete.png"
      = image_tag "icon_fuego.png"
      .go-top__text LLÉVAME A LA BASE
