= render "devise/shared/navbar"
%h2.title-form Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "field field__item"
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "current-password", class: "field field__item"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Log in", class:"button-page button-page__login"
= render "devise/shared/links"
