.button-navbar{
    @apply ml-5 px-2 py-1 rounded text-gray-darkest font-semibold text-xs;

    &__logout{
        @apply bg-red-light hover:bg-red;
    }
    &__login{
        @apply bg-green-light hover:bg-green;   
    }
    &__signup{
        @apply bg-blue hover:bg-blue-dark;
    }
}

.button-page{
    @apply px-4 py-2 my-4 cursor-pointer rounded text-white shadow-lg;

    &__login{
        @apply bg-green hover:bg-green-dark;
    }
    
    &__signup{
        @apply bg-blue hover:bg-blue-dark;
    }
}

