!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AuroraTest
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{ rel: "preconnect", href: "https://fonts.gstatic.com" } 
    %link{ href:"https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap", rel:"stylesheet" }
  %body{ 'data-controller': "rails--#{controller_name}" }
    %p.notice
      = notice 
    %p.alert
      = alert  
    = yield